// Font Families
$font-family-base: 'Open Sans', sans-serif;

// Text transform Map
$transform: (
	uppercase: uppercase,
	lowercase: lowercase,
	capitalize: capitalize
);

// Text alignment Map
$alignment: (
	left: left,
	right: right,
	center: center
);

// Font Weights
$light: 300;
$regular: 400;
$bold: 700;

// Font Weights Map
$weights: (
	light: $light,
	regular: $regular,
	bold: $bold
);

// Font Sizes
$pxToRem-font-size-base: 16; // Used for pxToRem function
$font-size-base:        16px !default;

// Line height
$line-height-base: 1.333 !default;
