/*
    Center element
    --------------
      Center element takes one of three arguments, and centers an
      elements equally, vertically, or horizontally.

    Possible Arguements:
    --------------------
    none | <length>

  Example:
  --------
    .something{
      @include center-element();
    }

  Renders:
  --------
    .something {
        position: relative;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transform-origin: inherit;
        -ms-transform-origin: inherit;
        transform-origin: inherit;
    }
*/

@mixin center-element($elementPosition: equal, $position: absolute){
	position: $position;
	@if $elementPosition == vertical{
		top: 50%;
		@include transform(translateY(-50%));

	} @else if $elementPosition == horizontal{
		left: 50%;
		@include transform(translateX(-50%));

	} @else if $elementPosition == equal{
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));

	} @else {
		@warn "You did not choose a correct position in the center content mixin.\nPlease choose from equal, veritical, or horizontal";
	}
}
